#background
.container
    .row.mt-6
        .col-md-6.white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quia illo iure beatae quisquam? Natus, reprehenderit asperiores soluta maxime adipisci similique fuga? Beatae in itaque maiores nobis quia ipsa ratione?
        .col-md-6.white Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere quia illo iure beatae quisquam? Natus, reprehenderit asperiores soluta maxime adipisci similique fuga? Beatae in itaque maiores nobis quia ipsa ratione?
            

        