doctype html
html
    head
        //include ../snippets/analytics.pug
        //include ../snippets/tagManagerHead.pug
        
        include ../snippets/metatags.pug
        
        block title
            
        //link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,700", rel="stylesheet")
        
    body
        
        
        //include ../snippets/tagManagerBody.pug
        //include ../shared/header.pug
        
        block content

        //script(src="assets/js/external/LZWEncoder.js")
        //script(src="assets/js/external/NeuQuant.js")
        //script(src="assets/js/external/GIFEncoder.js")
        
        //include ../shared/footer.pug
        

        
            

