@font-face {
    font-family: 'ATT Aleck Sans';
    src: url("assets/fonts/ATTAleckSans_Bd.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ATT Aleck Sans Black';
    src: url("assets/fonts/ATTAleckSans_Blk.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ATT Aleck Sans';
    src: url("assets/fonts/ATTAleckSans_Lt.ttf");
    font-weight: lighter;
    font-style: normal;
}