extends layout/layout.pug
block title
    title Static Frontend app

block content

    #site
        #background
        
        include shared/header.pug

        #mainWrapper
            
            include modules/home.pug
            
        include shared/preloader.pug
   
        include shared/browsersupport.pug
        
    
        

    
